html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.custom-full-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, $degradeStart, $degradeEnd);
  height: 400vh;
  width: 100vw;
  max-width: 100%;
}

.mainPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $mainColor;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.second-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $mainColor;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.third-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.fourth-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}
