.presentationBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 10px double $secondColor;
  padding: 5%;
  width: 50vw;
  height: 65vh;
  font-size: 225px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Tourney", cursive;
  font-size: 1em;
  color: $secondColor;
  margin: 0;
  padding: 0;
  padding-bottom: 2%;
  animation: prese 3s;
  animation-fill-mode: forwards;
}

.mainTitle {
  font-size: 0.52em;
  margin: 0;
  padding: 0;
  padding-bottom: 1%;
  color: white;
  font-family: "Gemunu Libre", sans-serif;
}

.subTitle {
  font-size: 0.24em;
  margin: 0;
  padding: 0;
  color: $secondColor;
  font-family: "Quicksand", sans-serif;
}

@keyframes prese {
  0% {
    font-size: 0px;
  }
  100% {
    font-size: 1em;
  }
}

@keyframes prese2 {
  0% {
    font-size: 0px;
  }
  100% {
    font-size: 112px;
  }
}

@media screen and (max-width: 1140px) {
  .presentationBox {
    width: 80vw;
    height: 65vh;
  }
  .logo {
    font-size: 112px;
    animation: prese2 3s;
    animation-fill-mode: forwards;
  }
  .mainTitle {
    font-size: 58px;
  }
  .subTitle {
    font-size: 26px;
  }
}

@media screen and (max-width: 1500px) {
  .presentationBox {
    font-size: 150px;
  }
}

@media screen and (max-width: 1100px) {
  .presentationBox {
    font-size: 110px;
    width: 90vw;
  }
}

@media screen and (max-width: 680px) {
}

@media screen and (max-width: 320px) {
  .presentationBox {
    font-size: 100px;
  }
}
